PORT=3000
NODE_ENV=development
DATABASE_URL=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL_TEST=postgresql://user:password@ep-xxx.us-east-2.aws.neon.tech/neondb_test?sslmode=require
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_refresh_secret_here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=noreply@yourapp.com
OPENAI_API_KEY=
FRONTEND_URL=http://localhost:3000
EXCHANGE_RATE_API_KEY=
